# We don't want to ignore the following even if they are dot-files
!.gitignore

# Project settings
*.uvguix.*

# Build files
*.scvd
*.lst
*.map
*.o
*.obj
*.d
*.crf
*.build_log
*.html
*.htm
*.iex
*.lnp
*.dep
*GUIBuilder.ini
*.*@*

RTE/_*
Objects/
DebugConfig/
Listings/
Objects/

#!*Objects/*.srec
#!*Objects/*.hex
#!*Objects/*.bin
#!*Objects/*.axf

